body {
    color: black;
    font-size: 16pt;
    background-color: #DDD; 
}

table.center {
    margin: 0 auto; 
}

th, td {
    width: 230px;
    height: 200px;
    padding: 10px;
}

.imgGalery {
    width: 230px;
    height: 200px;
    border-radius: 20px;
    display: none;
}